<div class="dashboard-body">
  <nav class="navbar bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Bootstrap </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 aligns">
        <div class="card" style="width: 60%">
          <div class="card-body">
            <h5 class="card-title text-center">Dash Board</h5>
            <form [formGroup]="eventForm">
              <div>
                <label for="" class="text-secondary mb-2">Enter Date</label>
              </div>
              <div class="input-group form-group">
                <div class="icon">
                  <span class="material-symbols-outlined"> event </span>
                </div>
                <input
                  type="date"
                  name="date"
                  formControlName="date"
                  class="form-control"
                  placeholder="First Name"
                  id="name"
                  required
                />
              </div>
              <div
                class="mt-2 ps-2 text-danger"
                *ngIf="
                  this.eventForm.get('date')?.touched &&
                  this.eventForm.get('date')?.errors
                "
              >
                invalid form
              </div>

              <div>
                <label for="" class="text-secondary mt-2 mb-2"
                  >Description of Event</label
                >
              </div>

              <div class="input-group form-group">
                <!-- <input
                type="text"
                name="name"
                class="form-control"
                placeholder="First Name"
                id="name"
                required
              /> -->

                <textarea
                  name="eventText"
                  formControlName="eventText"
                  id=""
                  cols="100"
                  rows="3"
                ></textarea>
              </div>
              <div
                class="mt-2 ps-2 text-danger"
                *ngIf="
                  this.eventForm.get('eventText')?.touched &&
                  this.eventForm.get('eventText')?.errors
                "
              >
                invalid form
              </div>

              <a
                href="#"
                value="add"
                type="submit"
                class="btn btn-primary mt-3 float-end"
                >Add discription</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
