<div class="dashboard-body">
  <nav class="navbar bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Bootstrap </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div style="height: 70vh" class="row aligns">
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <div class="card h-100" style="width: 80%">
          <div class="card-body">
            <h5 class="card-title">Dash Board</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
