.register-body {
  background-image: url("src/assets/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 100vh;
}

.heading {
  margin-top: 7%;

  font-weight: bolder;
  color: brown;
  text-align: center;
  text-transform: uppercase;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 50;
}

.icon {
  border: 1px grey solid;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
}
